body {
    font-family: Garamond, sans-serif;
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
}
h1 {
    text-align: center;
    color: #ef5350;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    margin: 0.3em 0;
}
a {
    text-decoration: none;
    color: #42a5f5;
}
a:hover {
    text-decoration: underline;
}
